@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@(actorId: String)


@scripts = {
   <script src="@routes.Assets.versioned("javascripts/web_socket.js")" type="text/javascript"></script>
}
@css = {

}

@main("Welcome to FSM Engine", scripts, css) {

   <input id="ws_id" type="hidden" value="@actorId"/>

   <main class="row">
      <section id="feed_content" class="col-md">

      </section>
   </main>

}

