@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@(actorId: String)

@main("Welcome to FSM Engine") {
   <h2>Upload your FSM ontology</h2>

   @helper.form(action = helper.CSRF(routes.UploadFileController.upload()), 'enctype -> "multipart/form-data", 'value -> "hola") {

      <input type="file" name="ontology">

      <input type="hidden" name="ws_id" value="@actorId"/>

      <p>
         <input type="submit" value="Upload">
      </p>

   }

   <p>Your id will be: @actorId</p>
}
